body {
    margin : 0;
}

#header {
    position : fixed;
    top : 0;
    height : 20%;
    width : 100%;
    background-image : url('title.png');
    background-position : right top;
    background-size : contain;
    background-repeat : no-repeat;
}

#footer {
    position : fixed;
    bottom : 0;
    height : 50%;
    width : 100%;
    background-image : url('silhouette.png');
    background-position : right bottom;
    background-size : contain;
    background-repeat : no-repeat;
}

#social-media {
    position : absolute;
    white-space : nowrap;
    bottom : 0;
    padding : 0.25em;
    text-align : left;
}

#phoneNumEmail {
    position : absolute;
    width : 50%;
    max-width : 320px;
    bottom : 64px;
    left : 4px;
}

a {
    text-decoration:none;
}
